<p id="notice"><%= notice %></p>

<p>
  <strong>Command:</strong>
  <%= @statement.command %>
</p>

<p>
  <strong>Params:</strong>
  <%= @statement.params %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @statement.comment %>
</p>

<p>
  <strong>Time:</strong>
  <%= @statement.time %>
</p>

<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
